.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 50%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.65em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

img {
  max-width: 100%;
}

header {
  z-index: 101;
}

footer {
  z-index: 102;
}

.fixons {
  z-index: 103;
}

.flex-ed, .col-flex-ed {
  display: flex;
}

.flex-ed {
  flex-flow: row wrap;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes slideIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

.star:before {
  font-size: 28px;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80f\e80f\e80f\e80f\e80f";
  color: #FEBB21;
  letter-spacing: 0.3em;
}

@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}
@media (max-width: 1030px) {
  #fixed-tabs {
    position: fixed;
    right: 0;
    text-align: center;
    line-height: 1;
    font-size: 0;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
  }
  #fixed-tabs a {
    padding: 13px 0;
    flex: 1;
    font-size: 13px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    background-color: #005280;
    color: #fff;
    text-transform: uppercase;
  }
  #fixed-tabs a span {
    display: inline-block;
    vertical-align: middle;
  }
  #fixed-tabs a span:last-child {
    margin-left: 7px;
  }
  #fixed-tabs a:nth-of-type(2) {
    background-color: #7AC8CF;
  }
  #fixed-tabs .ra {
    flex: 2;
  }
  #fixed-tabs i {
    font-size: 16px;
    margin-right: 5px;
  }
  #fixed-tabs i, #fixed-tabs i:before {
    display: inline-block;
    margin: 0 auto;
  }
  footer {
    margin-bottom: 42px !important;
  }
}
@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
  #fixed-tabs a span:last-child {
    margin-left: 0;
  }
}
body {
  position: relative;
  background-color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

p {
  font: 400 20px/28px "Montserrat", sans-serif;
  color: #0D0D0D;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.mobile-banner-reviews {
  display: none;
}

h1 {
  margin: 0;
  text-align: center;
  color: #0D0D0D;
  font: 700 70px/1.1 "Montserrat", sans-serif;
  letter-spacing: -0.02em;
}

h2 {
  color: #0D0D0D;
  text-align: left;
  font: 600 55px/1.1 "Montserrat", sans-serif;
  letter-spacing: -0.02em;
}
h2 span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #0D0D0D;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 32px;
  line-height: 1.41;
}

.h3 {
  color: #0D0D0D;
  font: 500 22px/1 "Montserrat", sans-serif;
  letter-spacing: -0.02em;
}

.h4 {
  letter-spacing: 0.05em;
  color: #7AC8CF;
  font: 700 16px/1.1 "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 10px auto;
}

/* header */
header {
  position: relative;
  padding: 0;
  z-index: 100;
  background-color: #fff;
}
header address {
  padding: 0 8px;
}
header .address {
  text-align: left;
  display: flex;
  color: #000;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.55px;
}
header .address:hover {
  color: #7AC8CF;
}
header .address i:before {
  color: #7AC8CF;
  font-size: 22px;
  margin-left: -10px;
  margin-right: 15px;
}
header #nav {
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1350px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
header #nav .btn {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 15px 25px;
  font-size: 20px;
  background-color: #7AC8CF;
  max-width: 470px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 20px;
}
header #nav .btn i:before {
  margin-right: 25px;
  margin-top: -2px;
}
header #nav .btn span {
  display: block;
  width: 100%;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 600;
}
header #nav .btn:hover {
  background-color: #005280;
  color: #fff;
}
header #nav #header-details .pho {
  display: flex;
  font-size: 41px;
  align-items: center;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0D0D0D;
}
header #nav #header-details .pho i:before {
  color: #7AC8CF;
  margin-right: 10px;
  margin-left: 0;
}
header #nav #header-details .pho:hover {
  color: #7AC8CF;
}
header #nav #header-details a i:before {
  font-size: 22px;
}
header #nav #mobile-btns {
  width: 100%;
  display: flex;
}
header #nav #mobile-btns > * {
  flex: 1;
}
header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  border-radius: 0;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  background-color: #7AC8CF;
}
header #nav #mobile-btns .btn span {
  width: 100%;
  font-size: 28px;
}
header #nav #mobile-btns .phone, header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
header #nav #mobile-btns .phone span, header #nav #mobile-btns .btn span {
  width: 100%;
}
header #nav #mobile-btns .phone {
  background-color: #C5D5DE;
  color: #000;
  font-size: 20px;
  line-height: 1.3;
}
header #nav #mobile-btns .phone span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;
}
header #nav #mobile-btns #mobile-special .container {
  margin: 10px 0;
  border-top: 2px solid #AFB1B1;
  border-bottom: 2px solid #AFB1B1;
  padding: 5px;
}
header #nav #mobile-btns #mobile-special .container h4 {
  color: #C5D5DE;
  font-size: 22px;
  margin: 0;
}
header #nav #mobile-btns #mobile-special .container small {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 700;
}

.subpage {
  text-align: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 15px;
}

.phone {
  color: #7AC8CF;
  font-size: 35px;
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.phone span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0D0D0D;
  letter-spacing: 1px;
}
.phone:hover {
  color: #7AC8CF;
}

.address {
  font-size: 24px;
  line-height: 1.4;
  color: #0D0D0D;
}

.address:hover {
  color: #7AC8CF;
}

.fix-nav header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  animation: slideIn 0.8s both;
  box-shadow: 1.6px 2.5px 7px rgba(6, 7, 7, 0.35);
}
.fix-nav header .logo img {
  max-height: 100px;
}

.btn, .btn-alt {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 3px auto;
  padding: 10px 25px;
  color: #fff;
  font: 700 14px/1 "Montserrat", sans-serif;
  transition: border 0.3s;
  background-color: #7AC8CF;
  transition: 0.3s all;
  text-transform: uppercase;
  border-radius: 6px;
  letter-spacing: 1px;
}
.btn span, .btn-alt span {
  display: block;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.btn:hover, .btn:hover, .btn-alt:hover, .btn-alt:hover {
  background-color: #005280;
  border-color: #005280;
  color: #fff;
}

.split {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 100px auto 50px;
  padding: 0 20px;
  overflow: hidden;
}
.split .flex-ed {
  max-width: 1100px;
  margin: 50px auto;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  box-shadow: 5px 4px 13px 5px rgba(1, 1, 1, 0.1607843137);
}
.split .flex-ed:before, .split .flex-ed:after {
  content: "";
  position: absolute;
  left: -40px;
  top: -80px;
  z-index: -1;
  background-color: #005280;
  opacity: 0.4;
  width: 420px;
  height: 270px;
}
.split .flex-ed:after {
  left: auto;
  top: auto;
  bottom: -80px;
  right: -40px;
}
.split article {
  margin: 10px;
  flex: 0 1 600px;
  text-align: left;
  padding: 35px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.split h2 {
  margin: 5px auto 25px;
  font-weight: 600;
  font-size: 55px;
}
.split h2 span:last-of-type {
  display: block;
  font-weight: 400;
  font-size: 24px;
}
.split.even figure {
  order: -1;
  margin-right: 40px;
}
.split ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}
.split ul li {
  font-size: 24px;
  position: relative;
  padding-left: 35px;
  margin: 20px auto;
}
.split ul li:before {
  content: "\e840";
  font-family: fontello;
  color: #7AC8CF;
  position: absolute;
  left: -8px;
  top: -2px;
  font-size: 34px;
}
.split figure {
  position: relative;
}
.split figure figcaption {
  position: absolute;
  right: 0;
  width: 100%;
  font-weight: 700;
  letter-spacing: 1.4px;
  font-size: 18px;
  text-align: center;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
}
.split figure figcaption a {
  color: #0D0D0D;
  font-size: 11px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15em;
}
.split.alt figure {
  order: -1;
}

#time {
  max-width: 1200px;
  margin: 30px auto;
  text-align: center;
  padding: 20px 10px;
}
#time h2 {
  text-align: center;
}

.safe-bar {
  width: 100%;
  position: relative;
  background-color: #005280;
  z-index: 10;
  color: #fff;
  font: 400 24px/1.2 "Montserrat", sans-serif;
  padding: 8px 10px;
  text-align: center;
  letter-spacing: 0.47px;
  transition: 0.3s all;
}
.safe-bar span {
  margin: 0 20px;
}

#hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 8px solid #7AC8CF;
}
#hero > * {
  flex: 1 0 500px;
}
#hero .flex-ed {
  background-color: #fff;
}
#hero .flex-ed figure {
  margin: 0;
  position: relative;
  order: 1;
  text-align: center;
}
#hero .flex-ed figure img {
  width: 100%;
  position: relative;
  width: 100%;
}
#hero .flex-ed figure .caption {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1.3px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  color: #0D0D0D;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}
#hero .flex-ed figure .caption a {
  color: #0D0D0D;
  letter-spacing: 1.6px;
}
#hero .flex-ed figure .caption a:hover {
  color: #7AC8CF;
}
#hero .flex-ed article {
  order: 2;
  position: relative;
  z-index: 2;
  padding: 35px 10px;
  display: flex;
  margin: auto;
  flex: 0 1 600px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#hero .flex-ed article * {
  color: #000;
}
#hero .flex-ed article small {
  opacity: 0.4;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.8px;
}
#hero .flex-ed article h1 {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
#hero .flex-ed article h1 span {
  display: block;
  font-weight: 600;
  text-transform: none;
  font-size: 73px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}
#hero #stamps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
#hero #stamps img {
  margin: 0;
}

.count {
  background: #005280;
  display: flex;
  max-width: 1120px;
  margin: 75px auto 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 12px 5px rgba(0, 0, 0, 0.2);
}
.count .h2 {
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font: 600 59px/63px "Montserrat", sans-serif;
  align-self: center;
  padding: 40px;
}
.count .h2 span {
  display: block;
  font-style: italic;
}
.count article {
  background: #fff;
  flex: 1;
  border-radius: 0 8px 8px 0;
}
.count ul {
  font-size: 34px;
  list-style-type: none;
  text-align: left;
  line-height: 1.2;
  margin: 10px auto 10px 30px;
  padding: 40px 20px;
  display: table;
}
.count ul li {
  position: relative;
  padding: 10px 0 10px 40px;
}
.count ul li:before {
  content: "\e840";
  font-family: fontello;
  color: #7AC8CF;
  position: absolute;
  left: -10px;
  top: 4px;
  font-size: 40px;
}

#first {
  margin-top: 20px;
}

#banner {
  overflow: hidden;
}
#banner h2 {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 10px 20px 25px;
  margin: 10px auto -15px;
  max-width: 1160px;
  justify-content: center;
  color: #005280;
  font-size: 45px;
  font-weight: 500;
}
#banner h2:before, #banner h2:after {
  content: "";
  height: 2px;
  background-color: #005280;
  flex: 1;
  margin-top: 5px;
}
#banner h2:before {
  margin-right: 20px;
}
#banner h2:after {
  margin-left: 20px;
}
#banner .contain {
  padding: 30px 20px;
}
#banner .flex-ed {
  max-width: 1320px;
  margin: 20px auto 40px;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.offer {
  display: block;
  margin: 20px 10px;
  position: relative;
  text-align: center;
  filter: drop-shadow(0px 3px 6px rgba(33, 33, 33, 0.15));
  flex: 0 350px;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.offer article {
  align-self: center;
  margin: 0 0 0 auto;
  padding: 50px 20px;
  position: relative;
  z-index: 3;
}
.offer > span {
  align-self: flex-end;
  order: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.offer .h1 {
  color: #973e32;
  font: 600 60px/1.1 "Montserrat", sans-serif;
  letter-spacing: normal;
  text-transform: uppercase;
}
.offer .h1 sup small {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-transform: none;
  text-align: left;
}
.offer p {
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto 15px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.offer img {
  margin: auto auto 0;
}
.offer:last-of-type article, .offer:nth-of-type(3) article {
  margin: 0 auto 0 0;
}
.offer:last-of-type > span, .offer:nth-of-type(3) > span {
  margin: 0 auto 0 0;
}
.offer .h2 {
  font: 700 60px/1.1 "Montserrat", sans-serif;
  color: #7AC8CF;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}
.offer .h4 {
  color: #005280;
}
.offer .asterisk {
  color: #0D0D0D;
  font-weight: 400;
  font-size: 20px;
  top: -1.4em;
  padding-left: 5px;
}
.offer:last-of-type article {
  margin-bottom: 10px;
}
.offer:nth-of-type(2) article {
  padding-top: 10px;
}
.offer:nth-of-type(2) article .h3 {
  font-size: 27px;
}
.offer .offer-note {
  font-size: 7px;
  letter-spacing: -0.17px;
  line-height: 1.14;
  padding-left: 40px;
  margin-top: 55px;
}

#reviews {
  background-color: #C5D5DE;
  padding: 80px 30px;
  margin-top: 60px;
}

#review-container {
  position: relative;
  border-radius: 8px;
  background: #005280;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.16);
  box-shadow: 1.6px 2.5px 7px rgba(7, 8, 8, 0.15);
  max-width: 1120px;
  color: #fff;
  align-items: center;
  padding: 0;
  margin: auto;
  flex-wrap: nowrap;
}
#review-container #review-count {
  position: absolute;
  top: -50px;
  left: -50px;
}

#about h2 {
  font-size: 40px;
}

.over {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  font: 700 18px/0.9 "Montserrat", sans-serif;
  text-transform: uppercase;
  box-shadow: 2px 3px 13px rgba(3, 47, 42, 0.2);
  background-color: #7AC8CF;
  text-align: center;
  padding: 15px 10px 10px;
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  left: -50px;
}
.over span {
  display: block;
  font-size: 28px;
}
.over small {
  display: block;
  font-size: 12px;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

#google {
  background-color: #fff;
  flex: 0 1 225px;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px 0 0 8px;
}
#google img {
  padding: 15px 0;
}
#google > div {
  margin-top: 25px;
  padding: 5px 25px;
}
#google p {
  color: #fff;
  font-size: 20px;
  line-height: 1.25;
  display: block;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
  color: #0D0D0D;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}

.comment {
  flex: 1 1 900px;
  padding: 30px 50px 40px;
  text-align: left;
  margin: auto;
}
.comment p {
  font: 400 30px/40px "Montserrat", sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
}
.comment .caption2 {
  float: right;
  font: 600 normal 16px/1 "Montserrat", sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 5px 0 0;
}

.insurance {
  text-align: left;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.insurance .container {
  max-width: 1140px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.insurance .container #insurance-list {
  display: flex;
  flex-wrap: wrap;
}
.insurance .container #insurance-list span {
  display: flex;
  margin: 10px auto;
  align-items: center;
}
.insurance .container small {
  opacity: 0.4;
}
.insurance .container .btn {
  font-size: 20px;
  border-radius: 0;
}
.insurance h2 {
  display: flex;
  font-size: 43px;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 10px 20px 15px;
  margin: 10px auto -15px;
  justify-content: center;
}
.insurance h2:before, .insurance h2:after {
  content: "";
  height: 2px;
  background-color: #204369;
  flex: 1;
}
.insurance h2:before {
  margin-right: 20px;
}
.insurance h2:after {
  margin-left: 20px;
}
.insurance #insurance-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.insurance .flex-ed {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.insurance .flex-ed span {
  padding: 10px 8px;
  flex: 0 1 auto;
  margin: auto;
}
.insurance .flex-ed:first-of-type {
  max-width: 1000px;
}
.insurance p {
  line-height: 32px;
  max-width: 1100px;
  margin: 10px auto;
  padding: 10px;
}
.insurance #disclaimer {
  color: rgba(37, 38, 39, 0.4);
  font: 400 16px/1 "Montserrat", sans-serif;
  margin-top: 20px;
  text-align: center;
}

#three-ways {
  max-width: 1140px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
#three-ways h2 {
  display: flex;
  font-weight: 300;
  font-size: 43px;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 10px 20px 15px;
  margin: 10px auto -15px;
  justify-content: center;
}
#three-ways h2:before, #three-ways h2:after {
  content: "";
  height: 2px;
  background-color: #204369;
  flex: 1;
}
#three-ways h2:before {
  margin-right: 20px;
}
#three-ways h2:after {
  margin-left: 20px;
}

footer {
  overflow: hidden;
  padding: 40px 0 0;
}
footer .phy {
  color: #fff;
  font-size: 20px;
  display: block;
  position: relative;
  padding-left: 40px;
}
footer .phy:before {
  position: absolute;
  left: 0;
  top: 8px;
  font-family: fontello;
  content: "\e809";
  color: #7AC8CF;
  font-size: 22px;
}
footer .phy:hover {
  color: #7AC8CF;
}
footer .pho {
  color: #fff;
  display: block;
  position: relative;
  font: 600 35px/1.1 "Montserrat", sans-serif;
  margin: 35px 0 20px;
  padding-left: 40px;
}
footer .pho:before {
  position: absolute;
  left: 0px;
  top: 3px;
  font-family: fontello;
  content: "\e80b";
  color: #7AC8CF;
  font-size: 30px;
}
footer .pho:hover {
  color: #7AC8CF;
}
footer .split {
  justify-content: space-between;
  max-width: 1160px;
  padding: 0;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 70px;
}
footer .split article {
  flex: 0 1 500px;
  background-color: #005280;
  padding: 85px 60px;
  margin: 0;
  align-self: center;
  border-radius: 8px;
}
footer .split article h2 {
  font: 600 70px/1 "Montserrat", sans-serif;
  color: #fff;
  margin: 0 auto 30px;
}
footer .split article h2 span:last-of-type {
  font-size: 70px !important;
  color: #fff !important;
}
footer .split figure p {
  text-align: center;
}
footer figure {
  flex: 1 1 650px;
  align-self: center;
  order: 1;
}

.hours {
  display: table;
  margin: 0;
  text-align: left !important;
  position: relative;
  padding-left: 40px;
}
.hours:before {
  position: absolute;
  left: 0;
  top: 25px;
  font-family: fontello;
  content: "\e839";
  color: #7AC8CF;
  font-size: 30px;
}

.hours label {
  width: 131px;
  display: inline-block;
  font-weight: 600;
}

.hours p {
  font-size: 20px;
  color: #fff;
  line-height: 34px;
  font-family: "Montserrat", sans-serif;
}

.frame {
  overflow: hidden;
  display: table;
  width: 100%;
  margin: auto;
  flex: 0 1 50%;
}
.frame iframe {
  height: 615px;
  display: block;
  margin: auto;
  width: 100%;
}

.copy {
  margin-top: 20px;
  padding: 40px 10px 20px;
  background-color: #0D0D0D;
  margin: auto;
  text-transform: uppercase;
  font: 600 11px/1.4 "Montserrat", sans-serif;
  color: #fff;
  letter-spacing: normal;
}
.copy a, .copy p {
  font: 600 11px/1.4 "Montserrat", sans-serif;
  letter-spacing: normal;
  color: #fff;
}
.copy a {
  color: #7AC8CF;
}
.copy p {
  margin: 20px auto;
  max-width: 1090px;
  letter-spacing: normal;
}
.copy a:hover {
  color: #7AC8CF;
  text-decoration: underline;
}
.copy span {
  margin: 0 2px;
}

::-moz-placeholder {
  color: #0D0D0D;
}

::placeholder {
  color: #0D0D0D;
}

#lp-appointment-form {
  max-width: 850px;
  padding: 10px;
  margin: 20px auto;
  position: relative;
  text-align: center;
}
#lp-appointment-form h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 10px auto 40px;
  color: #0D0D0D;
}
#lp-appointment-form > p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}
#lp-appointment-form .simple {
  margin: 40px auto 20px;
  max-width: 550px;
  padding-right: 3px;
}
#lp-appointment-form label {
  display: none;
}
#lp-appointment-form input, #lp-appointment-form textarea, #lp-appointment-form select {
  width: 93%;
  display: table;
  margin: 10px auto;
  background-color: #d3d3d3;
  color: #0D0D0D;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  border: none;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
#lp-appointment-form input:focus, #lp-appointment-form textarea:focus, #lp-appointment-form select:focus {
  background-color: #e3e3e3;
}
#lp-appointment-form textarea {
  height: 200px;
  margin-bottom: 30px;
}
#lp-appointment-form textarea:focus, #lp-appointment-form input:focus, #lp-appointment-form button:focus, #lp-appointment-form select:focus {
  outline-style: solid;
  outline-width: thin;
  outline-color: #005280;
}
#lp-appointment-form .submitBtn {
  text-align: center;
  width: 200px;
  margin: auto;
  display: table;
  font-size: 20px;
  color: #000;
}
#lp-appointment-form .submitBtn:hover {
  color: #fff;
}

@media (max-width: 1340px) {
  #hero figure {
    margin: auto;
  }
}
@media (min-width: 1650px) {
  #hero figure {
    flex: 0 1 860px;
  }
}
@media (max-width: 1520px) {
  #hero {
    background-size: cover;
  }
}
@media (max-width: 1200px) {
  #banner .flex-ed {
    flex-wrap: wrap;
    max-width: 700px;
  }
  #banner .flex-ed .offer {
    margin: 30px;
  }
  .offer:nth-of-type(2) article {
    padding-bottom: 0;
  }
  #banner .flex-ed .offer:last-of-type {
    margin-top: 20px;
  }
  #hero {
    background-size: cover;
  }
}
@media (max-width: 1180px) {
  #header-details {
    display: none;
  }
}
@media (max-width: 1080px) {
  .address {
    font-size: 16px;
  }
  .phone {
    font-size: 32px;
  }
  .over {
    top: -60px;
    left: 5px;
  }
  h1 {
    font-size: 60px;
  }
  #hero article img {
    margin: 10px auto;
  }
  .split article {
    padding: 20px 10px;
  }
  .split h2 {
    font-size: 46px;
  }
}
@media (max-width: 1024px) {
  header #nav .logo {
    margin: auto;
    width: 100%;
  }
  header #nav .btn {
    margin: 20px auto 0;
  }
  #hero {
    background-image: none;
  }
  #hero h1 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px !important;
  }
  #hero h1 span {
    text-transform: none;
    font-size: 46px !important;
  }
  #hero article {
    padding: 20px 20px;
    flex: 1;
    background-color: #fff;
  }
  #hero article div {
    margin: 0 auto;
  }
  #hero figure {
    background-color: #303539;
    flex: 100%;
  }
  #hero figure img {
    display: block;
    width: 100%;
  }
  #hero .caption {
    display: flex;
    justify-content: center;
  }
  .split .flex-ed {
    padding-top: 40px;
  }
}
@media (min-width: 1000px) {
  #mobile-btns {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  header .flex-ed {
    justify-content: space-around;
  }
  header #nav {
    padding: 0;
  }
  header #nav > .btn {
    display: none;
  }
  header #nav .logo {
    margin: 20px auto;
  }
  .safe-bar {
    font-size: 19px;
    padding: 7px 10px;
  }
  #banner .flex-ed {
    flex-wrap: wrap;
    max-width: 800px;
  }
  .phone {
    font-size: 24px;
  }
  #hero .flex-ed article {
    order: -1;
  }
  #hero .flex-ed figure .caption {
    display: none;
  }
  .insurance h2:before {
    content: none;
  }
  .insurance h2:after {
    content: none;
  }
  .count {
    display: block;
    background-color: #005280;
    padding: 20px 0;
    margin: 50px 20px 0;
    border-radius: 20px;
  }
  .count .h2 {
    padding: 20px 10px;
    font-size: 50px;
  }
  .count .h2 span {
    display: inline;
  }
  .count article {
    border-radius: 0 0 8px 8px;
    padding: 0 20px 20px;
    background-color: #005280;
  }
  .count article ul {
    padding: 0 0 0 10px;
    margin-left: 5px;
  }
  .count article ul li {
    color: #fff;
  }
  #first {
    box-shadow: 3px 0px 10px lightgray;
    margin: 30px;
    border-radius: 20px;
    padding: 0;
  }
  #first .flex-ed {
    padding-top: 10px;
    margin: 0;
  }
  .count.no-insurance article {
    border-radius: 8px 8px 0 0;
  }
  #banner h2 {
    font-size: 36px;
    padding: 0 10px;
  }
  .split {
    margin: 50px auto;
    display: block;
  }
  .split .flex-ed {
    display: block;
  }
  .split figure img {
    width: 100%;
  }
  .split h2 {
    text-align: center;
  }
  .split ul {
    display: table;
    margin: auto;
  }
  #reviews {
    padding: 60px 30px;
    margin-top: 30px;
    background-color: #005280;
  }
  #reviews #review-container {
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #fff;
  }
  #reviews #review-container .comment {
    border-radius: 0 0 20px 20px;
    padding: 0 20px 60px;
  }
  #reviews #review-container .comment p {
    text-align: center;
    color: #0D0D0D;
    font-size: 24px;
    line-height: 30px;
  }
  #reviews #review-container .comment .caption2 {
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
  }
  #reviews #review-container #google {
    flex: 0 1 100%;
    border-radius: 20px 20px 0 0;
    background: none;
  }
  #reviews #review-container #google .star {
    margin: 10px auto 20px;
  }
  #reviews #review-container #google p {
    margin: 0 auto;
    color: #0D0D0D;
  }
  #reviews #review-container #google p img {
    margin: 0 auto;
  }
  #reviews #review-container #google > div {
    margin-top: 40px;
  }
  .insurance .container h2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 30px;
  }
  .insurance .container h2 span {
    font-size: 40px;
  }
  .insurance .container h2:after {
    content: "";
    width: 150px;
    height: 2px;
    color: #005280;
    position: absolute;
    bottom: 10px;
    margin: auto;
  }
  #about {
    box-shadow: 3px 0px 10px lightgray;
    margin: 30px;
    border-radius: 20px;
    padding: 0;
  }
  #about .flex-ed {
    margin: 0;
    padding-top: 0;
  }
  #about .flex-ed article {
    margin: 0;
  }
  .over {
    top: -30px;
  }
  footer {
    padding: 0;
  }
  footer .split {
    margin: 30px;
    border-radius: 20px;
  }
  footer .split article {
    padding: 50px 10px 10px;
    border-radius: 0;
  }
  footer .split p {
    text-align: left;
  }
  footer .phy, footer .pho, footer .hours {
    display: table;
    margin: 20px auto;
  }
  footer .pho {
    margin: 10px 10px 10px 20px;
    padding-left: 25px;
  }
  footer .pho:before {
    left: -12px;
  }
  footer .phy {
    padding-left: 10px;
  }
  footer .phy:before {
    left: -22px;
  }
  .hours {
    padding-left: 0;
  }
  .hours:before {
    left: -37px;
    top: 8px;
  }
  .hours p {
    font-size: 18px;
  }
  .split .flex-ed {
    box-shadow: none;
  }
  .split .flex-ed:before {
    content: none;
  }
  .split .flex-ed:after {
    content: none;
  }
  .frame iframe {
    height: 400px;
  }
}
@media (max-width: 790px) {
  header {
    padding: 0;
  }
  header .flex-ed {
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
  }
  header .btn-alt, header address {
    flex: 0 1 50%;
  }
  header .logo {
    width: 100%;
    margin: 10px;
    max-width: none;
  }
  header .btn-alt {
    color: #000;
    color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    padding: 10px 3px;
  }
  header .btn-alt:hover {
    color: #fff;
    background-color: #3d3d3d;
  }
  header .btn-alt:after {
    display: none;
  }
  header .phone {
    font-size: 18px;
    color: #fff;
    background-color: #005280;
    border: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: 700;
    padding: 8px 0;
    flex: 1;
    font-size: 30px;
    color: #fff;
  }
  header .phone span {
    color: #fff;
  }
  header .phone:hover {
    background-color: #3d3d3d;
    color: #fff;
  }
  .safe-bar span:last-of-type {
    display: block;
    font-size: 0;
  }
  .mobile-banner-reviews {
    display: block;
    background-color: #f3f3f3;
    text-transform: uppercase;
  }
  .mobile-banner-reviews img, .mobile-banner-reviews p {
    display: inline-block;
    vertical-align: middle;
  }
  .mobile-banner-reviews p {
    padding: 0 50px;
    font-weight: 700;
  }
  #banner .contain {
    padding: 30px 10px;
  }
  .count .h2 br {
    display: none;
  }
  #hero h1 span {
    font-size: 50px;
  }
  #hero .flex-ed img {
    flex: 100%;
  }
  #hero .flex-ed article img {
    max-width: 250px;
  }
  #hero .caption {
    left: 50%;
    transform: translateX(-50%);
  }
  #why #icons div {
    flex: 100%;
    margin: 20px auto;
  }
  .split p, .comment {
    text-align: center;
  }
  footer h2 {
    font-size: 42px;
  }
  footer .split > div {
    margin-top: 0;
  }
  footer article {
    margin-bottom: 30px;
  }
  .insurance .flex-ed {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  #banner .contain {
    padding-top: 20px;
  }
  #google > div {
    margin-top: 20px;
  }
  #google p {
    margin-bottom: 0;
  }
  .comment .caption2 {
    margin-top: 0;
  }
  #lp-appointment-form h1 {
    font-size: 36px;
  }
  #banner .flex-ed {
    margin-bottom: 80px;
  }
  .insurance {
    padding: 0;
  }
}
@media (max-width: 590px) {
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 36px;
    margin-top: 10px;
  }
  .safe-bar {
    letter-spacing: 0;
    font-size: 16px;
  }
  .safe-bar span {
    margin: 0;
  }
  #hero figure .caption a {
    margin: 5px;
    font-size: 16px;
  }
  #hero figure .caption {
    display: flex;
    flex-wrap: wrap;
  }
  #hero > * {
    flex: auto;
  }
  .insurance h2 {
    font-size: 40px;
  }
  .insurance #insurance-list span {
    width: 100%;
    display: block;
    margin: 15px 0;
  }
  .split {
    padding: 0;
    margin: 20px auto;
  }
  .split .flex-ed:before {
    right: 40px;
    width: 100%;
    top: -20px;
  }
  .split .flex-ed:after {
    right: 0;
    width: 100%;
    bottom: -20px;
    left: 40px;
  }
  #reviews {
    margin-top: 50px;
  }
  footer h2 {
    font-size: 40px;
    margin-top: 0;
    padding: 0 10px;
  }
  footer article {
    padding-top: 20px;
  }
  footer article p {
    font-size: 32px;
    margin-top: 5px;
  }
  footer figure {
    margin-top: -10px;
  }
  .frame {
    display: none;
  }
  .copy {
    padding: 30px 10px 20px;
  }
  .hours label {
    width: 100px;
  }
  #hero .caption {
    line-height: 0.7;
    position: static;
    padding: 10px;
    transform: none;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  h2, footer h2 {
    font-size: 36px;
  }
  header .phone {
    font-size: 20px;
  }
  .btn-alt span {
    font-size: 24px;
  }
  .over {
    top: -50px;
  }
  .offer {
    padding: 0;
  }
  .count .h2 {
    font-size: 10vw;
  }
  .count ul {
    padding: 0;
  }
}
@media (max-width: 400px) {
  header .btn-alt {
    font-size: 14px;
  }
  .mobile-banner-reviews p {
    padding: 0 30px;
    font-size: 16px;
  }
  .safe-bar {
    font-size: 15px;
  }
  .offer > span {
    flex: 0 1 50%;
  }
  #hero .caption {
    padding: 10px 5px;
    bottom: 30px;
  }
  #hero .caption span {
    line-height: 1;
  }
  #hero .caption span:last-of-type {
    display: none;
  }
  #hero .caption a {
    display: block;
  }
  .caption a {
    font-size: 14px;
  }
  .count ul {
    font-size: 23px;
  }
  .count ul li {
    padding-top: 8px;
  }
  .comment p {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .comment .caption2 {
    font-size: 15px;
  }
  .offer .h1 {
    font-size: 45px;
  }
  .offer .h3 {
    font-size: 18px;
  }
  footer .phy {
    font-size: 18px;
  }
  .split ul li {
    font-size: 22px;
    padding-left: 45px;
  }
  .split ul li:before {
    left: 5px;
  }
  h2 {
    font-size: 30px;
  }
  footer .split article h2 {
    font-size: 54px;
    padding: 0;
  }
  #google p {
    font-size: 14px;
  }
  footer .pho {
    font-size: 30px;
    margin-top: 20px;
    padding-left: 10px;
  }
  footer .pho:before {
    top: 0;
    left: -26px;
  }
  .hours:before {
    top: 10px;
    left: -12px;
  }
  .hours {
    padding-left: 30px;
  }
  footer .split p {
    font-size: 16px;
  }
  .insurance h2 {
    margin: 10px 0 -15px;
    padding: 10px 0 15px;
  }
  .insurance .flex-ed div {
    margin: 15px 18px;
    flex: 1 1 100%;
  }
  .insurance .flex-ed {
    justify-content: center;
  }
}
@media (max-width: 350px) {
  footer .split article h2 {
    font-size: 46px;
  }
  footer .pho {
    font-size: 26px;
    margin: 0;
    text-align: center;
  }
  footer .pho:before {
    left: -3px;
    font-size: 26px;
  }
  header #nav #mobile-btns .phone {
    font-size: 18px;
  }
  header #nav #mobile-btns .btn {
    font-size: 13px;
  }
}/*# sourceMappingURL=lp-count-on-us-styles.css.map */